node_modules
vendor
.env
.env.example
.git
.gitignore
.gitattributes
.editorconfig
.idea
.vscode
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
README.md
Dockerfile
.dockerignore
